################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/f1_booking_tickets_app_backend/f1_booking_tickets_API/__doc_extract
/f1_booking_tickets_app_backend/f1_booking_tickets_API/Projektni zadatak 3 - IIS OAS.docx
